.navigation {
	margin-top: 20px;
}

.logo {
	text-indent: -9999px;
	width: 80px;
	height: 85px;
	background: url(../img/psb-logo.png) no-repeat;
}

.menu {
	margin-top: 25px;
}
.menu ul li {
	display: inline;
	list-style: none;
}

.menu ul li a {
	padding: 20px 20px 40px 10px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}

.menu ul li a.active, .menu ul li a:hover {
	text-decoration: none;
	border-bottom: solid 4px red;
}

.welcome {
	margin-top: 4px;
	border: solid 1px #eaeaea;
	padding: 50px;
	background: url(../img/perpus.jpg);
	background-size: 1140px;
	background-position: center;
	color: #FFFFFF;
}

.welcome p {
	font-size: 18px;
	line-height: 1.5em;
}
